<h2 class="text-center">Take money from my account</h2>
<h3 class="text-center">Your money avalible: <%= number_to_currency(@account.money) %> </h3>
<%= render "accounts/form", account: @account_withdraw%>